* {
  /* font-family: "Lora", serif; */
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #52796f;
  color: #E8E8E9;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  color: white;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 5vh;
}

#loginForm {
  display: flex;
  flex-direction: column;
  background-color: #354f52;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  height: 50vh;
  width: 25vw;
  border-radius: 15px;
  opacity: 75%;
}

#loginForm > input {
  font-size: 3vh;
  color: black;
  width: 13vw;
}

#loginForm > button {
  font-size: 3vh;
  width: 10vw;
  cursor: pointer;
}

.hidden {
  display: none!important;
}

.main-page {
  display: flex;
  flex-direction: row;
}

#leftSide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  width: 12vw;
}

#userInfo {
  height: 10%;
  width: 75%;
}

#nav {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
  list-style: none;
  width: 75%;
}

li {
  font-size: 1vw;
  padding: 10px;
  transition: transform 750ms;
  will-change: transform;
}

li:hover,
li:focus {
  cursor: pointer;
  padding: 10px;
  transform: translateX(10px);
}

i {
  cursor: pointer;
  padding: 5px;
}

main {
  align-items: center;
  background-color: #2f3e46;
  border-left: .1em rgba(245, 245, 245, 0.435) solid;
  border-right: .1em rgba(245, 245, 245, 0.435) solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  width: 70vw;
}

#greeting {
  width: 85%;
  font-size: 5vh;
}

#upcomingTrips {
  display: flex;
  flex-direction: column;
  height: 35vh;
}

h2 {
  font-family: "Lora", serif;
  font-size: 4vh;
  padding-bottom: 0.5vh;
}

#upcomingDisplay {
  background-color: #52796f;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
  width: 35vw;
}

#upcomingDisplay > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#upcomingDisplay > div > img {
  max-width: 60%;
  object-fit: cover;
}

#upcomingDisplay > div > div {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  justify-content: space-evenly;
  padding-left: 5%;
}

#bottomMiddle {
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-evenly;
  width: 100%;
}

#bottomMiddle > div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#pastDisplay,
#pendingDisplay {
  background-color: #52796f;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 100%;
  overflow-y: auto;
  width: 28vw;
}

#pastDisplay > div,
#pendingDisplay> div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#pastDisplay > div > img,
#pendingDisplay > div > img {
  max-width: 60%;
  object-fit: cover;
}

#pastDisplay > div > div,
#pendingDisplay > div > div {
  display: flex;
  flex-direction: column;
  font-size: 2vh;
  justify-content: space-evenly;
  max-width: 40%;
  padding-left: 5%;
}

#rightSide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0px;
  width: 18vw;
}

#rightIcons {
  display: flex;
  flex-direction: row;
  font-size: 1vw;
  justify-content: space-between;
  padding: 10px;
  width: 85%;
}

section.confirmNewTrip {
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
  height: 40vh;
  justify-content: space-evenly;
}

#costDisplay {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 85%;
}

#costBreakdown {
  height: 100%;
  font-size: 2.5vh;
}

#newTripForm{
  display: flex;
  flex-direction: column;
  font-size: 2.5vh;
  height: 40vh;
  justify-content: space-evenly;
  width: 75%;
}

fieldset {
  border: 0;
}

#newTripForm > input {
  color: black;
}

button {
  font-size: 2.5vh;
  font-family: "Montserrat", sans-serif;
  color: #2f3e46;
}