/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2B2C2E;
  color: #E8E8E9;
}

.hidden {
  display: none!important;
}

#d1 {
  width: 15vw;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
}

#userInfo {
  height: 10%;
  width: 75%;
  border: 3px solid black;
}

#nav {
  height: 40%;
  width: 75%;
  /* border: 3px solid black; */
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  padding: 10px;
  transition: transform 750ms;
  will-change: transform;
  font-size: small;
}

li:hover,
li:focus {
  padding: 10px;
  cursor: pointer;
  transform: translateX(10px);
}

i {
  padding: 5px;
}

#d2 {
  width: 60vw;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

#greeting {
  width: 85%;
  border: 3px solid black;
}

#upcomingTrips {
  display: flex;
  flex-direction: column;
  height: 35%;
  width: 85%;
}

#upcomingDisplay {
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
}

#upcomingDisplay > div {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#upcomingDisplay > div > img {
  max-width: 50%;
  object-fit: cover;
}

#upcomingDisplay > div > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  justify-content: space-evenly;
}

#bottomMiddle {
  height: 40%;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bottomMiddle > div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

#pastTrips > h2 {
  position: sticky;
  top: 0;
}

#pastDisplay {
  height: 100%;
  max-width: 100%;
  /* border: 3px solid black; */
  overflow-y: auto;
}

#pastDisplay > img {
  height: 90%;
  max-width: 100%;
}

#pendingDisplay {
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
}

#pendingDisplay > img {
  height: 90%;
  max-width: 100%;
}

#d3 {
  width: 25vw;
  border: 5px solid black;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#newTripForm{
  height: 50%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#newTripForm > label {
  font-weight: bold;
}

#costDisplay {
  height: 40%;
  width: 85%;
  display: flex;
  flex-direction: column;
}

#costBreakdown {
  height: 100%;
  border: 3px solid black;
}